.container {
  display: flex;
  height: 87vh;
  float: none;
  margin-left: 0vw;
  /* justify-content: center;   */
}
.box {
  /* background-color: rgb(13 20 83); */
  background-image: url(../../../public/img/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  height: 30vh;
  margin-left: 5vw;
  align-self: center;
  border: 2px solid rgb(224, 210, 210);
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
  color: white;
}
.picture {
    margin-left: 5vw;
  background-color: rgb(82, 87, 131);
  justify-content: center;
  height: 60vh;
  margin-left: 8vw;
  align-self: center;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
  width: 50%;
  color: rgb(165 167 185);
  background-image: url(../../../public/img/btc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.size{
  font-size: 2rem;
}
